<header>
  <div class="left-ul">
    <ul>
      <li><a routerLink="/">Auto Plus</a></li>
    </ul>
  </div>

  <ul class="center-ul">
    <li><a routerLink="/"><i class="fa-solid fa-house"></i>Home</a></li>
    <li><a href="#"><i class="fa-solid fa-plus"></i>Create</a></li>
    <li><a href="#"><i class="fa-solid fa-list"></i>Catalog</a></li>
    <li><a href="#"><i class="fa-solid fa-circle-info"></i>About</a></li>
  </ul>

  <ul class="right-ul">
    <li><a href="#"><i class="fa-solid fa-right-to-bracket"></i>Login</a></li>
    <li><a href="#"><i class="fa-solid fa-registered"></i>Register</a></li>
    <li><a href="#"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
  </ul>
</header>
