.wrapper {
  width: 100%;
  min-height: 83vh;
  background-image: url(../assets/images/aboutBackGround.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 150px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content .content-header {
  padding-bottom: 20px;
}

.content .content-header p {
  font-size: 18px;
}

.content .content-information {
  padding-top: 15px;
  width: 50%;
}

.content .content-information p {
  font-size: 18px;
}